Ghi bàn: Lallana (9', pen), Vardy (48') - Iago Aspas (89'), Isco (90'+6)Anh (4-2-3-1): Hart; Clyne, Stones, Cahill, Rose; Dier, Henderson; Lingard, Lallana, Sterling; Vardy.Italia bất phân thắng bại với ĐứcItalia không thể đòi lại món nợ mà Đức đã vay ở VCK EURO 2016 khi để thầy trò HLV Joachim Loew cầm hòa không bàn thắng, ở trận giao hữu trên sân Giuseppe Meazza.Chiêm ngưỡng pha sút phạt thần sầu của MessiTừ tình huống sút phạt ngoài vòng cấm Colombia ở phút 10, Lionel Messi đã vẽ lên đường cong tuyệt đẹp khiến pha bay người của thủ thành Ospina trở thành vô nghĩa.