Messi nhảy tango, Argentina thắp lại hi vọng giành vé đến NgaTrực tiếp lập siêu phẩm và 2 lần kiến tạo để đồng đội lập công, Messi giúp Argentina đánh bại Colombia 3-0, ở lượt trận thứ 12 vòng vòng loại World Cup 2018 khu vực Nam Mỹ.Video bàn thắng Argentina 3-0 ColombiaMàn trình diễn chói sáng của Messi giúp Argentina dễ dàng vùi dập Colombia 3-0, qua đó thắp lên cơ hội giành vé dự World Cup 2018.