Nguyễn Tuấn Anh dính chấn thương từ trước khi về nước tập trung, chuẩn bị cho AFF Cup 2016 đợt này. Tiền vệ của Yokohama FC vẫn có mặt trong số 25 cầu thủ được HLV Nguyễn Hữu Thắng đưa sang Myanmar hôm qua 15/10. Tuy nhiên, có vẻ như chấn thương của Tuấn Anh đang diễn biến mỗi lúc một phức tạp hơn.Trong cả hai buổi tập vừa qua của tuyển Việt Nam tại Yangon, cầu thủ trưởng thành từ Học viện bóng đá HAGL Arsenal JMG đều không thể tham gia. Anh phải ở lại khách sạn để trị thương. Ngày 18/11, HLV Nguyễn Hữu Thắng sẽ gút lại danh sách còn 23 cầu thủ để chính thức đăng ký lên ban tổ chức AFF Cup 2016. Nhà cầm quân người Nghệ An nhiều khả năng sẽ chờ đợi tiến triển chấn thương của Tuấn Anh đến giờ chót.Tuyển Việt Nam nằm ở bảng B tại AFF Cup 2016, lần lượt gặp Myanmar (20/11), Malaysia (23/11) và Campuchia (26/11). Trong số này, hai trận đấu đầu tiên diễn ra tại Yangon, riêng trận cuối diễn ra ở Nay Pyi Taw.