Bàn thắng: Gabriel Jesus 58', Renato Augusto 78'Làm khách trên sân của đội vừa thắng Paraguay đến 4-1, Brazil chỉ gặp khó khăn trong hiệp một. Sau giờ nghỉ, nhờ hai pha dứt điểm chính xác của tiền đạo Gabriel Jesus và tiền vệ Renato Augusto, đội từng năm lần vô địch thế giới dễ dàng giành chiến thắng 2-0.Với ba điểm có được ở lượt đấu thứ 12, Brazil đã chạm một tay vào vé dự World Cup 2018. Neymar và đồng đội hiện có được 27 điểm, hơn bốn điểm so với đội xếp thứ hai Uruguay và chín điểm so với đội xếp thứ sáu Colombia. Nếu tiếp tục đà thắng lợi trong ba lượt đấu tới (trong tổng số tám lượt còn lại), Brazil có thể là đội giành vé sớm nhất khu vực Nam Mỹ.Khu vực Nam Mỹ sẽ lấy bốn đội dẫn đầu tới thẳng Nga dự vòng chung kết. Đội xếp thứ năm sẽ đấu tranh vé vớt một đại diện của châu Đại dương.* Tiếp tục cập nhật