Samir Nasri, cầu thủ đang được Man City cho mượn tại Sevilla, đã tiết lộ bí quyết của Pep Guardiola trong hành trình huấn luyện những ngôi sao lớn như Lionel Messi hay Robert Lewandowski."Bạn sẽ biết mình phải làm gì ngay trong ngày đầu tiên luyện tập với Guardiola, khi có bóng cũng như không có. Ngày hôm sau, một video sẽ được gửi tới hướng dẫn cụ thể. Ông ấy sẽ làm mọi cách để bạn tiến bộ và biết được vị trí của mình. Ông ấy là người rất khó tính".Dưới thời của Guardiola, Man City trải qua khởi đầu hoàn hảo với 10 chiến thắng liên tiếp, trước khi xuống phong độ với sáu trận hòa và thua gần đây. Tuy nhiên chiến thắng 3-1 trước Barca ở Champions League đã phần nào giúp họ lấy lại tinh thần.Đội bóng của Guardiola sẽ làm khách tới sân Crystal Palace vào ngày 19/11 tại Ngoại hạng Anh - nơi họ đã mất vị trí dẫn đầu vào tay Liverpool.