Tuyển Anh tuột chiến thắng trước Tây Ban Nha ở phút 90+6Dẫn trước với 2 bàn cách biệt nhưng rồi tuyển Anh vẫn để Tây Ban Nha gỡ hòa trước khi rời Wembley, ở trận giao hữu đêm qua.Chiêm ngưỡng pha sút phạt thần sầu của MessiTừ tình huống sút phạt ngoài vòng cấm Colombia ở phút 10, Lionel Messi đã vẽ lên đường cong tuyệt đẹp khiến pha bay người của thủ thành Ospina trở thành vô nghĩa.