Messi nhảy tango, Argentina thắp lại hi vọng giành vé đến NgaTrực tiếp lập siêu phẩm và 2 lần kiến tạo để đồng đội lập công, Messi giúp Argentina đánh bại Colombia 3-0, ở lượt trận thứ 12 vòng vòng loại World Cup 2018 khu vực Nam Mỹ.Sanchez lập cú đúp, Chile ngược dòng hạ UruguayTrong một ngày thi đấu chói sáng, Alexis Sanchez đóng góp cú đúp giúp chủ nhà Chile ngược dòng đánh bại Uruguay 3-1, ở lượt trận thứ 12 vòng loại World Cup 2018 khu vực Nam Mỹ.Chiêm ngưỡng pha sút phạt thần sầu của MessiTừ tình huống sút phạt ngoài vòng cấm Colombia ở phút 10, Lionel Messi đã vẽ lên đường cong tuyệt đẹp khiến pha bay người của thủ thành Ospina trở thành vô nghĩa.