Trừ Tuấn Anh phải tập riêng ở khách sạn, thầy trò Hữu Thắng đã có buổi tập đầu tiên sau khi đặt chân đến Yangon (Myanmar). Chỉ là một buổi tập nhẹ, thư giãn nên sân tập của tuyển Việt Nam rộn ràng tiếng cười. HLV Hữu Thắng có dịp thảnh thơi biểu diễn kỹ thuật tung bóng, còn Công Phượng và đồng đội thì tươi roi rói như đang được mùa. HLV Hữu Thắng “cấm” Tuấn Anh bén mảng đến sân tậpTiền vệ đang chơi cho CLB Yokohama (Nhật Bản) nhận lệnh dưỡng thương trong khách sạn, không xuất hiện trong buổi tập chào sân của tuyển Việt Nam tại Myanmar.Lịch thi đấu AFF Cup 2016AFF CUP 2016 diễn ra từ ngày 19/11 đến ngày 17/12 năm 2016 tại Philippines và bảng B sẽ đá tại Myanmar. VietNamNet cập nhật lịch thi đấu, kết quả, bảng xếp hạng nhanh nhất, chính xác nhất.Thái Lan bất ngờ cầm hòa Australia ở vòng loại World CupDù bị dẫn trước từ khá sớm nhưng chủ nhà Thái Lan buộc Australia phải vất vả mới có được 1 điểm với trận hòa 2-2 trước khi ra về, ở lượt trận thứ 5 vòng loại World Cup 2018, khu vực châu Á.