Đứng ngay trên Công Vinh là chân sút cự phách của đội tuyển Hà Lan - Robin Van Persie và Brazil - Neymar. Mỗi người đang có 50 bàn.Cristiano Ronaldo dẫn đầu thống kê này, với 68 bàn, bỏ cách 12 bàn so với người đứng thứ hai là Lionel Messi. Bên cạnh Công Vinh, còn có hai chân sút khác đến từ châu Á, gồm tiền đạo người Maldives, Ali Ashfaq (52 bàn) và trung phong của tuyển Ấn Độ Sunil Chhetri (51 bàn).10 chân sút ghi bàn nhiều còn thi đấu ở cấp độ ĐTQG. 