Abreu vừa hoàn tất vụ chuyển nhượng thứ 28 trong sự nghiệp, khi gia nhập đội Bangu tại Brazil. Với thương vụ này anh đã tự phá kỷ lục chuyển nhượng nhiều lần nhất của bản thân. Tiền đạo 40 tuổi người Uruguay có 22 năm sự nghiệp, thi đấu tại chín quốc gia khác nhau và khoác áo 23 CLB.Abreu chuyển nhượng nhiều lần, nhưng mức phí để mua không lớn. Tổng giá trị của 28 lần chuyển nhượng là 8,1 triệu đôla.Thành tích cấp CLB lớn nhất mà Abreu từng giành được là hai lần vô địch Argentina và bốn lần vô địch Uruguay. Anh cũng có một lần vô địch bang Rio de Janeiro tại Brazil.Abreu được biết đến nhiều hơn ở đẳng cấp quốc tế. Tại World Cup 2010, chính tiền đạo này đã đá thành công quả luân lưu quyết định trong trận tứ kết thắng Ghana, qua đó đưa tuyển Urguay vào bán kết. Một năm sau đó, Abreu cùng đội tuyển lên ngôi ở Copa America.Trong sự nghiệp, Abreu đã ghi khoảng 250 bàn. Việc lập công đều đặn giúp anh liên tục nhận được lời mời thi đấu, ngay cả khi bước sang tuổi 40.