Fellaini vốn thi đấu thường xuyên từ đầu mùa, nhưng phong độ không đủ thuyết phục CĐV. Tiền vệ này xếp cuối cùng trong danh sách "cần bán" với 18,4% số ý kiến yêu cầu ra đi.Marcos Rojo xếp ngay trên Fellaini, với 22,2%. Hậu vệ này cũng có số lần thi đấu không ít từ đầu mùa cho Man Utd, thậm chí vẫn được gọi về tuyển Argentina.Trái với danh sách sáu cầu thủ mất niềm tin với CĐV là bốn cầu thủ bên ngoài nhận được yêu cầu chuyển nhượng lớn nhất gồm Pierre-Emerick Aubameyang (Dortmund), Fabinho (Monaco), Diego Godin (Atletico Madrid) và Isco (Real Madrid). Đây đều là những cầu thủ mà Man Utd đủ khả năng mua trong kỳ chuyển nhượng tháng 1 tới.Aubameyang thậm chí dẫn đầu danh sách "cần mua" với 75% số ý kiến khuyên đội chủ sân Old Trafford nên hành động ngay lập tức. Từ đầu mùa, tiền đạo này đã ghi 14 bàn trong 13 trận cho Dortmund.Aubameyang là tiền đạo hàng đầu châu Âu hai mùa giải vừa qua.