Depay mới ghi hai bàn cho tuyển Hà Lan, trong đó có một cú sút phạt đẹp mắt, ở trận thắng Luxembourg 3-1 tại vòng loại World Cup. Đây là thành tích gây ngạc nhiên cho nhiều người, vì trước đó, tiền đạo cánh này chỉ có 24 phút thi đấu tại giải Ngoại hạng Anh 2016-2017 cho Man Utd.Sau trận đấu, nhiều CĐV Man Utd bày tỏ thái độ khác nhau trên Twitter. Dưới đây là một số ý kiến tiêu biểu.Mubashir00.dat: "Depay đang bùng nổ".JasonRamone: "Jose (Mourinho)... Hãy nhớ chúng ta có một cầu thủ chạy cánh/tiền đạo mang tên Memphis Depay".BMS fan: "Depay đã trở lại".Ashish Jha: "Có cảm giác như già đi nhiều tuổi kể từ lần gần nhất Depay ghi bàn. Hy vọng từ giờ Depay sẽ chỉ tiến lên".Mannheim: "Depay ghi bàn? Trong một trận đấu thực sự?"Nnamdi: "Depay chia vui như thể anh ấy đã tìm lại được đẳng cấp".Rob Harvey: "Depay mới ghi một bàn từ cú sút phạt trực tiếp. Tôi từng nghĩ anh ấy đã quên mất cách ghi bàn như vậy".